@media (max-width:1024px){
    html{
        font-size:16px;
    }
    /* .header{
        padding: 20px;
    } */
    .main{
            padding-top: 180px;
            width: 830px;
        }
        .main-title{
            font-size: 20px;
        }
    }
