@media (max-width:1024px){
    html{
        font-size:14px;
    }
    /* .header{
        padding: 20px;
    } */
    .footer-keywords {
        height: auto;
        width: 100%;
        margin-top: 2.5rem;
    }
.grid-skill {
    display: grid;
    grid-template-columns: repeat(2,minmax(40px,1fr));
    gap: 2rem;
    text-align: left;
    margin-top: 3.5rem;
}
.aboutme-img {
    margin-top: 2.5rem;
    margin-right: 2rem;
}
.aboutme-text {
    text-align: left;
    max-width: 612px;
    width: 90%;
    margin: 0 auto;
    padding: 2.5rem;
}

.aboutme2-img {
    max-width: 40%;
    
}
.aboutme2-txt {
    padding-top: 4.5rem;
}
.design-values {
    display: flex;
    justify-content: space-between;
    /* align-items: flex-start; */
    margin-top: 0.5rem;
    padding: 0px 5.65rem;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    gap: 4.5rem;
}










}
