@media (max-width:768px){
    html{
        font-size:12px;
    }
    .main {
        /* flex-grow: 1; */
        overflow-y: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        width: 90%;
        margin: 0 1rem;
        /* max-width: 1600px; */
        text-align: center;
        padding-top: 190px;
        /* min-height: 650px; */
        border-left: 1px solid #29489F;
        border-right: 1px solid #29489F;
    }
    .vertical-text {
        position: fixed;
        left: 0px;
        top: 0;
        width: 5%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-title {
        font-size: 4rem;
        font-weight: 100;
        line-height: 1.2;
        margin: 2.5rem 0 2rem;
    }
    .main-title .imgg{
        height:4rem;
    }
    .aboutme {
        display: flex;
        margin-top: 1rem;
        justify-content: center;
        width: 100%;
        flex-direction: column-reverse;
    }
    .aboutme-img {
        margin-top: 0px;
        margin-left: 0;
        text-align: center;
        width: auto;
        text-align: center;
        margin-right: 0;
    }
   .aboutme-text h3:after {
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 6px;
    content: "";
    background: #d7dce9b2;
    z-index: -1;
}
.value-item p {
    font-family: 'Pretendard', sans-serif;
    font-size: 1rem;
    line-height: 1.8;
    color: #29489F;
    margin: 0;
    color: #000;
    font-weight: 300;
}

   .aboutme2 {
    display: flex;
    margin-top: 3.5rem;
    justify-content: center;
    gap: 3rem;
    font-family: 'Pretendard';
    flex-direction: column;
}
.aboutme2-txt {
    padding: 2.5rem 0.5rem;
}
.aboutme2-txt .txt-2 br{display: none;}
.all-txt {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 0.5rem;
}
.values1 p {
    font-family: 'Pretendard', sans-serif;
    font-size: 1rem;
    line-height: 1.8;
    color: #000;
    margin: 0;
}
    .txt-end {
        color: #405181;
        margin-left: 0rem;
    }
    .aboutme2-img {
        width: 80%;
        height: auto;
        margin: 0 auto;
    }
    .design-values {
        display: flex;
        justify-content: space-between;
        /* align-items: flex-start; */
        margin-top: 8.5rem;
        padding: 2rem;
        max-width: none;
        margin-left: auto;
        margin-right: auto;
        gap: 2rem;
        flex-direction: column;
    }
    .skill {
    margin-top: 8.5rem;
    padding: 7rem 0.5rem;
    text-align: center;
}
.banner-txt {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
.values2 {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    width: 100%;
    margin-left: 0;
}
.values1 h1 {
    font-family: 'varesha';
    font-size: 4.5rem;
    font-weight: 100;
    line-height: 1.1;
    color: #29489F;
    /* margin: 0; */
    margin-bottom: 0.75rem;
    /* letter-spacing: 6px; */
    text-align: left;
}
.value-item:nth-child(odd) {
    padding-right: 0.5rem;
}

.value-item:nth-child(even) {
    padding-left: 0.5rem;
}
.values1 {
    flex: 0 0 auto;
    width: 80%;
}
.grid-skill {
    display: grid;
    grid-template-columns: repeat(1,minmax(40px,1fr));
    gap: 2rem;
    text-align: left;
    margin-top: 3.5rem;
}











}