@media (max-width:1024px){
    html{
        font-size:14px;
    }
    /* .header{
        padding: 20px;
    } */
    .footer-keywords {
        height: auto;
        width: 100%;
        margin-top: 2.5rem;
    }
    .grid-skill {
        display: grid;
        grid-template-columns: repeat(3,minmax(40px,1fr));
        gap: 2rem;
        text-align: left;
        margin-top: 3.5rem;
    }
    .aboutme-img {
        margin-top: 2.5rem;
        margin-right: 6rem;
        width: 36%;
    }
    .aboutme-text {
        text-align: left;
        /* max-width: 610px; */
        width: 41%;
        margin: 0 auto;
        padding: 1.5rem;
        box-sizing: border-box;
    }
    .grid-skill>li p {
        font-size: 1rem;
        font-weight: 300;
        line-height: 23px;
    }

    .design-values {
        display: flex;
        justify-content: space-between;
        /* align-items: flex-start; */
        margin-top: 0.5rem;
        padding: 0px 5.65rem;
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
        gap: 4.5rem;
    }

    .aboutme2-img {
        width: 25rem;
    }
    .aboutme2-txt {
        padding-top: 4.5rem;
    }

    .values1 p {
        font-family: 'Pretendard', sans-serif;
        font-size: 1rem;
        line-height: 1.8;
        color: #000;
        margin: 0;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        align-items: start;
        margin-top: 1.5rem;
        width: 100%;
    }

    /* .detailpage{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        align-items: start;
        margin-top: 1.5rem;
        width: 100%;
    } */

    .modal-img {
        max-width: 60%;
        border-radius: 10px;
        margin: auto;
    }
     /* .modal-close {
        position: fixed;
        top: 1.75rem;
        right: 11rem;
        font-size: 4.5rem;
        color: #ffffff;
        cursor: pointer;
        z-index: 10000;
    } */

    .project-sticky-menu {
        display: flex;
        gap: 4rem;
        position: sticky;
        left: 0;
        top: -4rem;
        justify-content: center;
        margin-top: 3rem;
        font-family: 'Pretendard';
    }
    .header-smart {
        display: block;
        z-index: 100000;
        position: fixed;
        left: 0;
        right: 0;
        top: 71px;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(10px);
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
        border-radius: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: auto;
        opacity: 0;
        pointer-events: none;
        transition: all 0.6s ease 0s;
    }
    /* .contact h2{
        font-size: 3rem;
    } */


}
