@media (min-width:1920px){
    body{
        max-width: 1920px;
        margin: 0 auto;
    }
}
:root{
    /* basic size 1rem */
    --basic-font-pc:20px;
    --basic-font-tab:18px;
    --basic-font-mobile:14px;

    /* color variation */
    --warm-linen:#F9F9F4;
    --Navy-haze-main:#29489F;

    /* font-weight */
    --font-strong:700;
    --font-normal:400;

    /* line-heigt */
    --base-line-height:1.2;
    --text-line-height:1.4;

    /* spacing */
    --space-normal:1rem;
    --space-x-small:0.5rem;
    --space-2x-small:0.25rem;
    --space-x-large:2rem;
    --space-2x-large:3rem;
    --space-3x-large:6rem;

    /* semantic color */
    --color-inacitive:#999999;

    /* divice width */
    --device-tab : 1440px;
    --device-mobile : 786px;


}
html{
    font-size: var(--basic-font-pc);
    font-family: 'Pretendard';
    line-height: var(--base-line-height);
    scroll-behavior: smooth;
}
em{
    font-style: inherit;
    color: var(--bloody-Beige-700);
}
h1{
    font-size: 1.6rem;
    font-weight: var(--font-strong);
}
h2{
    font-size: 1.4rem;
    font-weight: var(--font-strong);
}
h3{
    font-size: 1.25rem;
    font-weight: var(--font-strong);
}
h4{
    font-size: 1rem;
    font-weight: var(--font-strong);
}
p{
    font-size: 1rem;
    line-height: var(--text-line-height);
}
.b2{
    font-size: 0.9rem;
}
.detail{
    font-size: 0.8rem;
}
.pf{
    font-family: "Aboreto", system-ui;
}
.common-frame{
    width: 1440px;
    margin: 0 auto;
}
.logo img{
    height: 5rem;
}
.btn-all-menu img{
    height: 1.2rem;
}
.slider-container {
  overflow-x: auto;
  overflow-y: hidden;
    /* 슬라이드처럼 멈춤*/
  /* scroll-snap-type: x mandatory; */
  -webkit-overflow-scrolling: touch; /*ios부드러운스크롤*/
  white-space: nowrap;
  display: flex;
}

.slider-track {
  display: flex;
}
/* 웹킷 계열의 브라우저 -> 크롬 엣지 사파리 */
::-webkit-scrollbar{
    width: 0.25rem;
    height: 0.25rem;
}
::-webkit-scrollbar-track{
    background: var(--bloody-Beige-0);
    /* border-radius: 10px; */
}
::-webkit-scrollbar-thumb{
    background: var(--bloody-Beige-500);
    border-radius: 10px;
}

.ln1{
    display: -webkit-box;          /*플렉스형 박스(옛 사양)*/
    -webkit-box-orient: vertical;  /* 세로 방향 줄바꿈 기준 */
    -webkit-line-clamp: 1;         /* 보여줄 최대 줄 수 */
    overflow: hidden;              /* 넘치는 내용 숨기기 */
    text-overflow: ellipsis;       /* 말줄임 표기(보조)*/
}

.ln2{
    display: -webkit-box;          /*플렉스형 박스(옛 사양)*/
    -webkit-box-orient: vertical;  /* 세로 방향 줄바꿈 기준 */
    -webkit-line-clamp: 2;         /* 보여줄 최대 줄 수 */
    overflow: hidden;              /* 넘치는 내용 숨기기 */
    text-overflow: ellipsis;       /* 말줄임 표기(보조)*/
}

.ln3{
    display: -webkit-box;          /*플렉스형 박스(옛 사양)*/
    -webkit-box-orient: vertical;  /* 세로 방향 줄바꿈 기준 */
    -webkit-line-clamp: 3;         /* 보여줄 최대 줄 수 */
    overflow: hidden;              /* 넘치는 내용 숨기기 */
    text-overflow: ellipsis;       /* 말줄임 표기(보조)*/
}

@media (max-width:1440px){
    html{font-size: var(--basic-font-tab);
    }
    .common-frame{
        width: auto;
        margin: 0 2rem;
    }
        main{
        margin-top: 94px;
    }
      header.fold~main{
    margin-top: 94px;
    }

}
@media (max-width:768px){
    html{font-size: var(--basic-font-mobile);
    }
    .common-frame{
        width: auto;
        margin: 0 1rem;
    }
      main{
        margin-top: 74px;
    }
    header.fold~main{
        margin-top: 74px;
    }
}